* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
}

body {
  background-color: #212121;
  position: relative;
  overflow-x: hidden;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  z-index: 999;
  visibility: visible;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}
.preloader--hidden {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.preloader__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.preloader__loader {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border: 8px solid #f0f0f0;
  border-top: 8px solid #696969;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.preloader__txt {
  padding: 10px;
  color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f0f0f0;
}
@media screen and (max-width: 576px) {
  .container {
    display: block;
  }
}
.container .statistics {
  margin: 15px;
  position: relative;
}
.container .statistics .global {
  position: relative;
}
.container .statistics .global__title {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
}
.container .statistics .global__cases {
  margin: 15px 15px 0 0;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .container .statistics .global__cases {
    display: block;
  }
}
.container .statistics .global__cases h1 {
  color: #eff318;
}
.container .statistics .global__recovered {
  margin: 15px 15px 0 0;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .container .statistics .global__recovered {
    display: block;
  }
}
.container .statistics .global__recovered h1 {
  color: #41eb60;
}
.container .statistics .global__deaths {
  margin: 15px 15px 0 0;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .container .statistics .global__deaths {
    display: block;
  }
}
.container .statistics .global__deaths h1 {
  color: #fb5e53;
}
.container .statistics > input[type="text"] {
  margin: 15px 0;
  width: 200px;
  display: inline-block;
  background-color: #181818;
  color: #f0f0f0;
  padding: 9px 15px;
  font-size: 18px;
  border: 1px solid #696969;
}
@media screen and (max-width: 576px) {
  .container .statistics > input[type="text"] {
    display: block;
  }
}
.container .statistics > .custom-select {
  margin: 15px 0;
  width: 200px;
  display: inline-block;
  background-color: #181818;
  color: #f0f0f0;
  padding: 9px 15px;
  font-size: 18px;
  border: 1px solid #696969;
}
@media screen and (max-width: 576px) {
  .container .statistics > .custom-select {
    display: block;
  }
}
.container .statistics .table {
  border-collapse: collapse;
  width: 100%;
  min-width: 320px;
}
@media screen and (max-width: 576px) {
  .container .statistics .table thead,
  .container .statistics .table tbody,
  .container .statistics .table th,
  .container .statistics .table td,
  .container .statistics .table tr {
    display: block;
  }
}
.container .statistics .table > thead {
  background-color: #181818;
}
@media screen and (max-width: 576px) {
  .container .statistics .table > thead {
    display: none;
  }
}
.container .statistics .table > thead > tr > th {
  text-align: left;
  font-size: 22px;
}
.container .statistics .table > thead > tr > th:not(:first-child) {
  text-align: right;
}
@media screen and (max-width: 576px) {
  .container .statistics .table td:nth-of-type(1)::before {
    content: "Country";
  }
  .container .statistics .table td:nth-of-type(2)::before {
    content: "Cases";
  }
  .container .statistics .table td:nth-of-type(3)::before {
    content: "Deaths";
  }
  .container .statistics .table td:nth-of-type(4)::before {
    content: "Recovered";
  }
}
.container .statistics .table th,
.container .statistics .table td {
  border: 1px solid #696969;
  padding: 9px 15px;
  white-space: nowrap;
}
.container .statistics .table > tbody > tr > td {
  font-size: 18px;
}
.container .statistics .table > tbody > tr > td img {
  width: 24px;
  vertical-align: baseline;
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .container .statistics .table > tbody > tr > td {
    position: relative;
    text-align: right;
  }
  .container .statistics .table > tbody > tr > td:first-child {
    background-color: #181818;
    padding-left: 100px;
    white-space: normal;
  }
  .container .statistics .table > tbody > tr > td::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 15px;
    white-space: nowrap;
  }
}
.container .statistics .table > tbody > tr > td:not(:first-child) {
  text-align: right;
}
.container .statistics .hidden {
  display: none !important;
}
.container .arrow {
  position: fixed;
  right: 0;
  bottom: 0;
}
.container .arrow__up {
  position: relative;
  cursor: pointer;
  background-color: rgba(155, 155, 155, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 25px 3px 0;
}
.container .arrow__up::before {
  content: "";
  position: absolute;
  border-top: solid 4px #f0f0f0;
  border-right: solid 4px #f0f0f0;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 14px;
  transform: rotate(-45deg);
}
.container .arrow__down {
  position: relative;
  cursor: pointer;
  background-color: rgba(155, 155, 155, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 25px 25px 0;
}
.container .arrow__down::before {
  content: "";
  position: absolute;
  border-top: solid 4px #f0f0f0;
  border-right: solid 4px #f0f0f0;
  width: 16px;
  height: 16px;
  left: 10px;
  bottom: 14px;
  transform: rotate(135deg);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
